/* ##header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #F9E5E6;
  color: #000;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

header {


  /* position: fixed; */
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #2196F3;
  color: #f5f5f5;  
  left: 0;
  top: 0;
  right: 0;
  z-index: 999; 

}

nav a, nav a:visited {
  color: #f5f5f5; 
  text-decoration: none;
}


nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}



/* ##header ka header  */
/* Home.css */

.home-container {
  text-align: center;
  padding: 50px;
  background-color: #f7f7f7;
  position: fixed;
}

h1 {
  font-size: 36px;
  color: #f5f5f5;  
}

p {
  font-size: 18px;
  color: #333;
  margin: 20px 0;
}

.view-all-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}


/* ________________________________________________________________ */
/* ##FOOTERR */


.footer {
  background-color: #2196F3;
  color: #f5f5f5;  
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0; /* Added left: 0 to ensure it spans the entire width */
  right: 0; /* Added right: 0 to ensure it spans the entire width */
  z-index: 999;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright-symbol {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 5px;
  color: #f5f5f5;
}






  